Рассылку сообщения пользователям закончил✅<br>
Всего пользователей в боте: <b>{{total}}</b><br> 
Отправлено сообщений: <b>{{success_sending}}</b>🆗<br>
{% if len(user_list_forbidden) > 0 %}
Не удалось отправить <b>{{len(user_list_forbidden)}}</b>сообщний ⛔️<br>
	└ среди них эти заблокировавшие бота➡️: <b>[{{user_list_forbidden}}]</b>
{% endif %}