Рассылку сообщения пользователям закончил✅<br>
Отправлено сообщений: <b>{{total}}</b>🆗<br> 
Кол-во заблокировавших бота: <b>{{len(user_list_forbidden)}}</b>⛔️<br>
{% if len(user_list_forbidden) > 0 %}
	└ среди них эти ➡️: <b>[{{user_list_forbidden}}]</b>
{% endif %}