Привет, селлер!<br>
Вы уже запускали данного бота. Если у Вас добавлены ключи API, то Вы можете продолжить отслеживание, добавить новые ключи, либо удалить предыдущие.<br><br>

На всякий случай, в меню бота есть <b>инструкция</b> 👇<br><br>

P.S. В Телеграм-канале вас ждет польза по рекламе и продвижению карточки на WB.<br>
Читайте вот тут: https://t.me/+Vf1YXieyC-Y1Njhi